.navbar-brand {
    letter-spacing: 3px;
    color: #c24244;
  }
  
  .navbar-brand:hover {
      color: #c24244;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #7f4722;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #7f4722;
  }
  
  .navbar-scrolled {
    background-color: #ffede7;
  }

  .navbar-brand {
    letter-spacing: 3px;
    color: #c24244;
  }
  
  .navbar-brand:hover {
    color: #c24244;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #7f4722;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #7f4722;
  }
  
  .navbar-scrolled {
    background-color: #ffede7;
  }

  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #c24244 !important; 
  }
  
/* styles.scss */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .container {
    flex: 1; 
  }
  
  .footer {
    background-color: #ffede7;
    color: #7f4722;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 10px;
  }
  
  