<div class="container">
  <div class="row">
    <ng-container *ngFor="let category of categories; let last = last">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Kategori</h6>
            <p class="card-text">Kategori hakkında bilgiler buraya gelecek</p>
            <a href="#" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
