<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color: #ffede7;">
  <div class="container">
    <a class="navbar-brand" href="#">Kütüphanem</a>
    <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="d-flex justify-content-start align-items-center">
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/book" routerLinkActive="activebutton" aria-current="page">
            Kitaplar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/author" routerLinkActive="activebutton" aria-current="page">
            Yazarlar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/category" routerLinkActive="activebutton" aria-current="page">
            Kategoriler
          </a>
        </li>
      <li class="nav-item dropdown"> 
        <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Giriş
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="/login" routerLinkActive="activebutton">Giriş Yap</a>
          </li>
          <li><a class="dropdown-item" routerLink="/register" routerLinkActive="activebutton">Kayıt Ol</a></li>
        </ul>
      </li>
      </ul>
    </div>
    <router-outlet />
  </div>
</nav>

<div class="container mt-5"> 
  <router-outlet></router-outlet> 
</div>