.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px; /* Padding artırıldı */
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.approve-button, .reject-button, .delete-button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 14px;
}

.approve-button {
  background-color: #4CAF50;
  color: white;
}

.reject-button {
  background-color: #f44336;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}
